.cmp-text {
  p {
    font-size: $font-size-base;
    line-height: $line-height-base + 1;
  }

  a {
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
  }

  ul, ol {
    padding-left: 1.5em;
    li {
      margin-bottom: 0.25em;
    }
  }
}
