.cmp-contentfragment {
  .cmp-contentfragment__title {
    display: none;
  }

  .cmp-contentfragment__description {
    display: none;
  }

  .cmp-contentfragment__element-value {
    img { width: 100%; }
  }
}
